body {
    font-family: 'Nunito Sans', sans-serif; 
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid #dedede ;
}
.header {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
  display: block;
  background-image: url('../images/logo.svg');
  width: 176px;
  height: 56px;
  background-repeat:no-repeat;
  background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color:  #443737;
    text-decoration: none;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after{
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background:transparent ;
    display: block;
}
.header-nav a.active::after {
    background:#FFC725 ;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
   position: relative; 
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FAF9F9;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center; 
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.bg {
    text-align: center;
    color: #FAF9F9;
    background-image: url(../images/bg.jpg);
    background-size: cover ;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.discription {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px;
    padding-left: 100px;
    margin-bottom: 80px;
}
.banner-title {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    line-height: 1.6;
    margin-top: 0%;
}
h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #FAF9F9;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-title span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    max-width: 96px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    background-color: #F37335;
    background-clip: padding-box;
    border-radius: 14px;
}
.banner-text {
    color: #FAF9F9;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    max-width: 353px;
    margin-top: 0;
    margin-bottom: 35px; 
}
.banner-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #1E2F40;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 19px 20px;
    background: #FBB731;
    border: 1px solid #FBB735;
    transition: 0.3px;
}
.banner-link:hover {
    background-color: transparent;
    color: #fbb735;
}
.menu {
    padding-top: 20px;
}
.banner-box a {
    color: #1E2F40;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FBB731;
    text-transform: uppercase;
    border-radius: 5%;
    text-decoration: none;
    padding: 15px 10px;
    margin-bottom: 100px;
}
.banner-box:hover{
    background-color: transparent;
    color: #F37335;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1B2A49;
    margin: 0;
}
.menu-select {
    border: 1px solid #dedede;
    padding: 13px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/errow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin-bottom: 100px;
}
.menu-grig-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.menu-grid-price {
    color: #979797;
    font-weight: 700;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 22px;
}
.menu-grid-btn {
    background-color: #FBB731;
    border-radius: 5px;
    padding: 10px 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
    cursor: pointer;
    position: relative;
    border: 1px solid #FBB731;
}
.menu-grid-btn:hover {
    background-color: transparent;
    color: #F37335;
}
.menu-grid-icon {
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
}
.menu-grid-text {
    color: #1E2F40;
    font-size: 14px;
    text-transform: uppercase;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 140px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
    margin-top: 20px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 0;
}
.footer-item {
    color: #FAF9F9;
    margin-top: 0;
    font-weight: 900;
    padding-bottom: 12px;
}
.footer-list a {
    color: #DEDEDE;
}
.footer-list {
    font-weight: 700;
    line-height: 24px;
    color: #DEDEDE;
    padding: 5px;
}
.footer-list li {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #dedede;
    text-decoration: none;
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #dedede;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 10px;
}
.footer-list-tel li {
    margin-bottom: 12px;
}
.footer-list-tel a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #FBB731;
    font-weight: 700;
    line-height: 24px;
}
.footer-list-tel a:hover {
    color: #dedede;
}
.footer-tel ul {
    font-size: 20px;
    color: #fff;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}
.button-up {
    background-color: #FBB731;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #1E2F40;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 0.2s; 
}
.button-up:hover {
    background-color: #F37335;
}
.button-up.hidden {
    opasity: 0;
}
.button-up.visible {
    opasity: 1;
}
 

/*steels*/
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
h1 {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;
}
h1 span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content-text {
    font-family: 'Open sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}
.main a,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0%;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin: 0;
}
.promo-description {
    font-family: 'Open sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-description a:hover{
    background-color: transparent;
    color: #F37335;
    border: 1px solid #fbb731;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}